.note-area-container {
    border: 1px solid black;
    width: 80%;
    align-items: center;
    border-radius: 0.5em;
    margin-top: 1em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.note-area-title {
    border: none;
    font-size: 1.3em;
    margin-bottom: .75em;
}

.note-area-title:focus-visible {
    outline: none;
}

.note-area-textarea {
    width: 90%;
    border: none;
    height: 6em;
    font-size: 1em;
}

.note-area-textarea:focus-visible {
    outline: none;
}

.close-note-area {
    text-align: right;
}

.close-note-area button {
    border: none;
    background: none;
    color: #0c0b0b;
    font-size: 1em;
    padding: 0.5em 0.75em;
}

.note-area-textarea-mini {
    height: 1em;
    width: 90%;
    border: none;
    font-size: 1em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .note-area-container {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .note-area-container {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .note-area-container {
        width: 45%;
    }
}

/* Extra extra large devices (1400px and up) */
@media only screen and (min-width: 1400px) {
    .note-area-container {
        width: 40%;
    }
}