.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .2);
    /* background-color: rgba(79, 197, 226, .2); */
    display: flex;
    justify-content: center;
}

.update-note-card {
    width: 84%;
    margin-top: 10em;
    display: block;
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: white;
    height: fit-content;
}

.note-area-title {
    width: -webkit-fill-available;
}

.note-area-textarea {
    min-height: 15em;
}

.note-footer button {
    border: none;
    background: none;
    color: #0c0b0b;
    font-size: 1em;
    padding: 0.5em 0.75em;
}

@media only screen and (min-width: 425px) {
    .note-area-textarea {
        min-height: 10em;
    }
}

@media only screen and (min-width: 1024px) {
    .update-note-card {
        width: 75%;
    }

    .note-area-textarea {
        min-height: 10em;
    }
}

/* Extra extra large devices (1400px and up) */
@media only screen and (min-width: 1400px) {
    .update-note-card {
        width: 50%;
    }
}