.toolbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5em;
    border-bottom: solid 1px black;
}

.toolbar h1 {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
}

.button-round {
    font-size: 1.5em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.profile {
    display: block;
    text-align: center;
    padding: 1em;
    position: absolute;
    border: 1px solid black;
    border-radius: 0.5em;
    top: 5em;
    left: 2em;
    background-color: white;
    min-width: 16em;
}

.signout-button {
    padding: 5px;
    border-radius: 10px;
    background: #F3F3F3;
    color: #070e1f;
    border: solid 1px black;
    box-shadow: 0 2px 2px rgba(0 0 0/ 0.15);
    margin-top: 2em;
    padding: 0.5em 0.75em;
    font-weight: 600;
}

.profile .username {
    font-weight: bold;
    font-size: 1.5em;
}

.profile .user-image {
    border-radius: 50%;
}

.hidden {
    display: none;
}